<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="vertical-menu">
    <a href="search" matTooltip="Wyszukiwarka" matTooltipPosition="right">
      <i class="material-icons">
        search
      </i>
    </a>
    <a href="parts" matTooltip="Lista części" matTooltipPosition="right">
      <i class="material-icons">
        list
      </i>]
    </a>
    <a href="history" matTooltip="Historia zmian" matTooltipPosition="right">
      <i class="material-icons">
        history
      </i>
    </a>
    <a href="logout">
      <i class="material-icons">
        exit_to_app
      </i>
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

