<div class="full-size">
  <mat-card class="centered">
    <mat-card-title>
      <h3>Specyfikacja części</h3>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Numer części" value="{{fetchedPart.partNumber}}" readonly>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Opis" value="{{fetchedPart.description}}" readonly>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Producent" value="{{fetchedPart.manufacturer}}" readonly>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Ilość" value="{{fetchedPart.amount}}" readonly>
      </mat-form-field>

      <table mat-table [dataSource]="fetchedPart.parameters">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nazwa</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="min">
          <th mat-header-cell *matHeaderCellDef> Min.</th>
          <td mat-cell *matCellDef="let element"> {{element.min}} </td>
        </ng-container>

        <ng-container matColumnDef="typ">
          <th mat-header-cell *matHeaderCellDef> Typ.</th>
          <td mat-cell *matCellDef="let element"> {{element.typ}} </td>
        </ng-container>

        <ng-container matColumnDef="max">
          <th mat-header-cell *matHeaderCellDef> Max.</th>
          <td mat-cell *matCellDef="let element"> {{element.max}} </td>
        </ng-container>

        <ng-container matColumnDef="units">
          <th mat-header-cell *matHeaderCellDef> Jedn.</th>
          <td mat-cell *matCellDef="let element"> {{element.units}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <button mat-button (click)="takeElements()">Pobierz części</button>
        <button mat-button (click)="addElements()">Dodaj części</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

