.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}

.full-size {
  width: 100%;
  height: 100%;
  position: relative;
}

mat-form-field {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

mat-card-content {
  padding-top: 30px;
}

mat-card-actions {
  float: right;
  padding: 15px;
}

button {
  background-color: lightgray;
}

mat-card-title {
  display: block;
  width: 100%;
}

h3 {
  text-align: center
}

table {
  width: 100%;
}

.pointer {
  cursor: pointer;
}
